@charset "utf-8";
/* CSS Document */

/******************************/
/*******common css*************/


/******* fonts *********/
@import url('../fonts/stylesheet_poppins.css');
/******* fonts *********/


body{
    font-family: 'Poppins' !important;
}

.gray{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.zoom{
   transform: scale(1.07);
}


.margin_auto{
    margin-right: auto;
    margin-left: auto;
}

.no_padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no_padd_left{
    padding-left: 0px;
}

.btn:focus {
    color: #fff;
    background-color: #2e3192;
    border-color: #fcbf49;
    box-shadow: None;
}

p{
    font-size: 13px;
    line-height: 20px;
}

.custom_ul{
    padding-left: 30px !important;
    list-style: none;
}

.custom_ul li{
    font-size: 13px;
    line-height: 23px;
    background: url(../images/li.png) left center no-repeat;
    padding: 5px 10px 5px 35px;
    list-style: none;
    vertical-align: middle;
}

a{
    text-decoration: none !important;
}

.logo{
    width: 200px;
}

.small, small {
    font-size: 10px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.a_link{
    color: #000000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.a_link:hover{
    color: #0d5ca3;
    padding-left: 5px;
}

.main_nav_bar{
    margin-top: 34px;
    padding: 0px;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.appoin_btn_row img{
    width: 60px;
    padding: 5px;
    margin-top: 5px;
}

.appoin_btn_row{
    width: 180px;
    text-align: left;
    background-color: #ffcb08;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.appoin_btn_row:hover{
    background-color: #8dd8f8;
}

.appoin_btn_row:hover p{
    color: #ffffff;
    border-left: 1px solid #ffffff
}

.appoin_btn_row p{
    padding: 10px;
    border-left: 1px solid #ffffff;
    font-weight: 700;
    color: #000000;
    padding-left: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fxd_btn_1{
    position: fixed;
    right: 0px;
    top: 140px;
    z-index: 9999999;
    right: -134px;
    transition: 0.3s;
}

.fxd_btn_1:hover{
    right: 0px;
}

.fxd_btn_2{
    position: fixed;
    right: 0px;
    top: 201px;
    z-index: 9999999;
    right: -134px;
    transition: 0.3s;
}

.fxd_btn_2:hover{
    right: 0px;
}

.faci_first_row{
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
    margin-bottom: 0px;
    /* border-bottom: 1px solid #fcbf49; */
    border-bottom: 0px solid #fcbf49;
}


/*******common css*************/
/******************************/

.main_logo{
    width: 300px !important;
    position: absolute;
    z-index: 99999;
    top: 0px;
    left: 0px;
}

.top_social_row{
    background-color: #ffffff;
    text-align: right;
}

.top_email_phone a{
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.top_social_icon{
    position: relative;
    top: 1px;
    padding-left: 15px;
}

.top_social_icon .fa {
    padding: 7px;
    font-size: 12px;
    width: 28px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0px;
    border-radius: 50%;
    background-color: transparent !important;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.top_social_icon .fa:hover{
   background-color: #fff538 !important;
   color: #000000 !important;
}

.top_tel {
    float: right;
    padding-top: 2px;
    letter-spacing: 0px;
}

.top_lang{
    margin-bottom: 0px;
    padding-top: 6px;
    margin-left: 15px;
}

.top_lang a{
    color: #ffffff;
    padding: 5px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.top_lang a:hover{
    color: #fdc032;
}

.lang_col{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

.home_top_div{
    background-image:url('../images/main_top_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center;
    height: 100vh;
    margin-top: -30px;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 40px;
    left: 30px;
    width: 60%;
    padding: 30px;
    padding-top: 1.25rem;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    background-color: rgba(140, 197, 62, 0.7);
}

.carousel-caption h1{
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.carousel-caption .yellow_btn{
    position: absolute;
    bottom: -20px;
}

.cap_eye_row p{
    border-left: 1px solid #ffcb08;
    padding-left: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.caption_row {
    position: absolute;
    bottom: 290px;
}

.main_slider .carousel-item {
    height: 760px;
    background: no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
    top: 10px;
    bottom: 0;
    z-index: 1;
    display: flex;
    float: right;
    align-items: center;
    justify-content: end;
    width: 40px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1;
    transition: opacity .15s ease;
}

.top_slider_section{
    background-image:url('../images/top_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center;
}

.search_btn:hover .fa{
    color: #0d5ca1;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 12px;
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #00a7a7;
}

.nav-active{
    font-weight: 900;
    color: #509ec4 !important;
}

.dropdown-item {
    font-size: 13px;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.dropdown-item:hover{
    background-color: #8cc53e;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 900;
}

.heading{
    font-size: 30px;
    color: #8bc53e;
    text-transform: uppercase;
    font-weight: 900;
}

.sub_heading{
    /* font-size: 15px; */
    font-size: 16px;
    font-weight: 700;
/*    color: #204066;*/
    color: #444444;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.white_blank_btn{
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: transparent;
    font-size: 12px;
    padding: 8px 30px;
    border-radius: 10px;
}

.white_blank_btn:hover{
    border: 1px solid #ffffff !important;
    background-color: #ffffff;
    color: #000000 !important;
    border-radius: 5px;
}

.green_blank_btn{
    background-color: transparent;
    border: 1px solid #8cc53e !important;
    color: #8cc53e !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: transparent;
    font-size: 12px;
    padding: 8px 30px;
    border-radius: 50px;
}

.green_blank_btn:hover{
    border: 1px solid #8cc53e !important;
    background-color: #8cc53e;
    color: #ffffff !important;
    border-radius: 5px;
}

.green_btn{
    background-color: #8cc53e;
    border: 1px solid #8cc53e !important;
    color: #ffffff !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: transparent;
    font-size: 12px;
    padding: 8px 30px;
    border-radius: 50px;
}

.green_btn:hover{
    border: 1px solid #fcbf49 !important;
    background-color: #fcbf49;
    color: #000000 !important;
    border-radius: 5px;
}

.yellow_btn{
    background-color: #fcbf49;
    border: 1px solid #fcbf49 !important;
    color: #000000 !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: transparent;
    font-size: 12px;
    font-weight: 700;
    padding: 13px 30px;
    border-radius: 50px;
}

.yellow_btn:hover{
    border: 1px solid #fcbf49 !important;
    background-color: #2e3192;
    color: #ffffff !important;
    border-radius: 5px;
}

.second_nav_bar{
    position: relative;
}

.second_nav_bar {
    padding-top: 17px;
    padding-bottom: 17px;
}


.navbar-nav {
    padding-left: 0px !important;
    padding-right: 10px;
}

.sub_navbar {
    padding-left: 50px !important;
    padding-right: 10px;
    color: #ffffff;
    position: relative !important;
    z-index: 999999;
}

.sub_navbar .nav-link{
    color: #ffffff !important;
}

.main_slider_col{
    margin-top: 100px;
    padding-right: 50px;
    border-top-left-radius: 10px;
}

.nav-pills .nav-link {
    background-color: #ffffff;
    border: 0;
    border-radius: 50px;
    padding: 15px 60px;
    margin-right: 5px;
    text-transform: capitalize;
    font-weight: 700;
    color: #8cc53e;
    position: relative;
    z-index: 9999;
    border: 1px solid #8cc53e;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.nav-pills .nav-link:hover{
    background-color: #8cc53e;
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #8cc53e;
}

.tab-content{
    position: relative;
    margin-top: -47px;
}

.expert_img_col{
    position: relative;
    margin-top: -130px;
}

.health_tips_con{
    background-image:url('../images/tips_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tips_bg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    height: 500px;
    border-right: 5px solid #ffcb08;
}

.testi_owner_img {
    /* width: 100px; */
    border: 3px solid #ffcb08;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -64px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 0%;
    list-style: none;
}

.sub_news_div{
    background-color: #ffcb08;
}

.news_test_div{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 999999;
    background-color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.news_test_div:hover .sub_heading{
    color: #92c84c;
}

.news_test_div a{
    color: #000000;
}

.main_news_div{
    padding-bottom: 20px;
    margin-bottom: 40px !important;
    border-bottom: 1px solid #92c84c;
}

.main_sub_news_div{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #92c84c;
}

.bg_box_left{
    background-image:url('../images/bg_box_left.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg_box_right{
    background-image:url('../images/bg_box_right.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.room_bg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    height: 450px;
    border-right: 5px solid #ffcb08;
}

.room_img{
    border-right: 3px solid #ffcb08;
}

.room_des_col{
    padding: 40px;
}

.exp_text_col:first-child {
  border-left: 1px solid transparent;
}

.exp_text_col:last-child {
  border-right: 1px solid transparent;
}

.exp_text_col{
    padding: 20px;
    border: 1px solid #acacac;
    border-top: transparent !important;
}

.blue_con .sub_heading{
    color: #ffffff !important;
}

.blue_con p{
    color: #ffffff;
}

.faci_img{
    border-radius: 5px;
    border: 1px solid #999999;
    border-right: 3px solid #ffcb08;
    margin-bottom: 20px;
}

.about_col{
    padding: 0px 60px 60px 60px;
}

.service_bg{
    background-image:url('../images/pat_bg_top.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:right top;
    padding-top: 40px;
    padding-bottom: 40px;
}

.channel_div{
    background-image:url('../images/doc_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    padding: 40px;
    min-height: 364px;
}

.emergency_call_row b{
    font-size: 30px;
    text-transform: capitalize;
    line-height: 30px;
}

.spec_service_div{
    height: 224px;
    background-color: #8cc53e;
    padding: 20px;
    color: #ffffff;
}

.spec_service_img_div{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    height: 224px;
}

.spec_service_div a p{
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.spec_service_div a:hover p{
   margin-left: 20px;
}

.stat_col{
    background-color: #fcbf49;
    position: relative;
    top: 50px;
}

.testi_slider_col{
    background-image:url('../images/testi_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    padding: 80px 300px 40px 40px;
}

.testi_con{
    position: relative;
    margin-top: -48px;
}

.test_img_col{
    position: relative;
    margin-top: -400px;
    z-index: 99;
}

.health_pack_col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #fcbf49;
    border: 1px solid #fcbf49;
}

.nav-tabs .nav-link:hover {
    color: #000000;
    background-color: #fcbf49;
    border: 1px solid #fcbf49;
}

.nav-tabs .nav-link {
    color: #000000;
    font-size: 12px;
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid #fcbf49;
    border-radius: 50px;
    padding: 5px 25px;
}

.nav-tabs .nav-item{
    padding-left: 0px;
    margin-right: 5px;
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 15px;
}

.sergical_row{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #fcbf49;
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*inner_pages styles*/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.inner_top_div {
    background-image: url(../images/main_top_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 400px;
    margin-top: -30px;
}

.inner_page_top_slider{
    margin-top: 100px;
    padding-right: 50px;
    border-top-left-radius: 10px;
}

.inner_page_top_slider .carousel-item {
    height: 240px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner_page_top_slider .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 40px;
    left: 30px;
    width: fit-content;
    padding: 30px;
    padding-right: 100px;
    padding-top: 1.25rem;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    background-color: rgba(253, 192, 50, 0.9);
}

.inner_page_top_slider .caption_row {
    position: absolute;
    bottom: 90px;
    left: 50px;
    width: 600px;
}

.inner_page_top_slider .carousel_caption_col .sub_heading{
    font-size: 20px;
    margin-top: 0px;
}

.inner_page_top_slider .carousel_caption_col h1{
    padding-bottom: 0px;
}

.breadcrumb-item{
    font-size: 12px;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #ffffff;
    content: var(--bs-breadcrumb-divider, "/");
}

.breadcrumb-item a{
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.breadcrumb-item a:hover{
    color: #000000;
}

.inner_page_first_con{
    padding-top: 120px;
}

.baige_con{
    background-image:url('../images/baige_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #ffcb08;
    margin-bottom: 20px;
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid #ffcb08;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #2e3192;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    font-size: 16px;
    font-weight: 600;
}

.accordion-button {
    font-size: 16px;
    font-weight: 600;
}

.accordion-button:hover {
    color: #000000;
    background-color: #ffcb08;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/white_arrow.svg);
    transform: rotate(-180deg);
}

.img_right_border{
    border-right: 4px solid #ffcb08;
}

.img_bg_box{
    background-image:url('../images/eye_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    border-right: 4px solid #ffcb08 !important;
    border: 1px solid #cccccc;
    height: 300px;
}

.img_bg_box img{
    width: 200px !important;
}

.form-floating>.form-control, .form-floating>.form-select {
    height: 50px;
    line-height: 1;
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 12px;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}


.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #2e3192;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fec131;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffcb08;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%);
}

.con_detail_div{
    background-color: #fbfafa;
    padding: 20px 60px 20px 60px;
}

.con_detail_row{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffcb08;
}

.con_detail_row img{
    width: 100px !important;
    padding: 10px;
}

.in_form_div{
    background-image:url('../images/testi_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding: 40px;
}

.in_form_div .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.in_form_div .form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffcb08;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%);
}

.in_form_div .form-floating>label {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 12px;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.faci_div{
    background-color: #2e3192;
    border-bottom: 5px solid #ffcb08;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    color: #ffffff;
}

.faci_div:hover{
    background-color: #ffcb08;
    border-bottom: 5px solid #2e3192;
    color: #000000;
}

.faci_div:hover h2{
    color: #000000 !important;
}

.faci_div img{
    width: 80px;
    margin-bottom: 20px;
}

.service_div img{
    width: 80px;
    margin-bottom: 10px;
}

.service_div{
    padding: 20px;
    min-height: 173px;
    background-color: #ffcb08;
    text-align: center;
    border: 1px solid #ffffff;
}

.service_div p{
    font-weight: 400;
    color: #000000;
    margin-bottom: 0px;
}

.blue_white_ul{
    padding-left: 0px !important;
}

.blue_white_ul li{
    color: #ffffff;
    font-size: 12px;
    line-height: 23px;
    background: url(../images/white_li.png) left center no-repeat;
    padding: 5px 10px 5px 25px;
    list-style: none;
    vertical-align: middle;
}

.white_bg{
    background-image:url('../images/white_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bod_bg{
    background-image:url('../images/gray_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    border-radius: 10px;
}

.cream_bg_con{
    background-image:url('../images/cream_bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
}

.green_box{
    background-color: #8cc53e;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.green_box:hover{
    background-color: #fcbf49;
}

.green_box .sub_heading{
    color: #ffffff;
}

.green_box_p{
    color: #ffffff;
}

.green_box:hover .sub_heading{
    color: #000000;
}

.green_box:hover .green_box_p{
    color: #000000;
}

.tips_bg_con{
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image:url('../images/tips_bg_3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top right;
}

.in_doc_bg{
    background-image:url('../images/gray_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.doc_text_div{
    padding: 20px;
    position: relative;
    z-index: 999999;
    background-color: #fcbf49;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.doc_text_div .sub_heading{
    color: #000000;
}

.bro_text_div{
    padding: 15px;
    position: relative;
    z-index: 999999;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-bottom: 2px solid #8cc53e;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.bro_text_div:hover .sub_heading{
    color: #8cc53e;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #8cc53e;
    border-color: #8cc53e;
}

.page-link {
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #8cc53e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #8cc53e;
    border-color: #8cc53e;
}

.career_item{
    margin-bottom: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #999999;
}

.career_heading_div{
    padding-right: 25px;
}

.career_text_div{
    padding-left: 25px;
    border-left: 2px solid #fcbf49;
}

.career_inq_col {
    background-color: #fcbf49;
    position: relative;
    margin-top: -50px;
    z-index: 99999999;
}

.item_div_center{
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.facility_bg{
    background-image:url('../images/gray_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center right;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}

.facility_bg img{
    width: 100px;
}

.new_eq_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*inner_pages styles*/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

/*****************************/
/*********footer**************/

.footer_logo{
    width: 250px !important;
    margin-bottom: 15px;
}

.footer_logo_col{
    text-align: center;
}

.footer_row{
    /* background-color: #335510; */
    background-color: #394857;
}

.footer_row p{
    color: #ffffff;
}

.footer_row b{
    color: #fdc032;
}

.footer_row p a{
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer_row p a:hover{
    color: #fdc032;
    margin-left: 5px;
}

.con_info_row {
    padding-bottom: 0px;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #b7b7b7;
}

.footer_row .social_icon .fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0px;
    border-radius: 0%;
    background-color: transparent !important;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer_row .social_icon .fa:hover{
   background-color: #ffcb08 !important;
   color: #000000 !important;
}

.footer_row .heading{
    font-size: 16px;
}

.footer_ul{
    padding-left: 10px;
}

.footer_ul li{
    list-style: none;
}

.footer_row .heading a{
    font-size: 25px;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer_row .heading a:hover{
    color: #fff200;
}

.logo_row{
    padding-top: 60px;
    padding-bottom: 30px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.social_row{
    padding-top: 60px;
    padding-bottom: 40px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.f_link_col{
    padding: 60px 40px 40px 40px;
}

/*****************************/
/*********footer**************/


/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/

.scroll-top-element{
    background-color: #8bc53e !important;
    z-index: 999999999 !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.scroll-top-element:hover{
    color: #000000 !important;
    background-color: #fcbf49 !important;
}

/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/

/*========================================================================*/
/*========================================================================*/
/*=====================Solution by TEKGEEKS (pvt) LTD=====================*/
/*============DESIGN & CSS DEVELOPMENT - DUMIDU WIMALARATHNA==============*/
/*========================================================================*/
/*========================================================================*/




/*=====================*/
/*search box*/
/*=====================*/

.search-input-wrapper {
  top: 35px;
  height: 67px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999999;
  position: absolute;
}

.search-input-wrapper.change {
  opacity: 1;
  visibility: visible;
/*  transition: all 0.5s 0.5s;*/
  top: 35px;
  height: 67px;
}

.search-input {
  width: 30rem;
  display: flex;
  align-self: center;
}

.search-input input {
  width: 27rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #eee;
  font-size: 13px;
  letter-spacing: inherit;
  outline: none;
  color: #ffffff;
  margin-right: 1rem;
}

.search-input i {
  font-size: 1.5rem;
  color: #eee;
  cursor: pointer;
}

.search-icon {
  font-size: 15px;
  position: relative;
/*  top: 1.7rem;
  right: 3rem;
  animation: searchIconAnim2 0.5s forwards;*/
  z-index: 999999999;
}

/*.search-icon.change {
  animation: searchIconAnim 1s forwards;
}*/

.search-icon i {
  color: #000000;
  cursor: pointer;
}

/*=====================*/
/*search box*/
/*=====================*/
