/* Timeline defaults */
/* --------------------------------------- */
.h--timeline-container *,
.h--timeline-events * {
  outline: 0;
}

.h--timeline-container,
.h--timeline-events {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.h--timeline-navigation-container ul, .h--timeline-navigation-container li,
.h--timeline-events ol, .h--timeline-events li,
.h--timeline-line ol, .h--timeline-line li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h--timeline {
  opacity: 0;
  transition: opacity 0.2s;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.h--timeline--loaded {
  opacity: 1;
}

.h--timeline-container {
  height: 100px;
}

.h--timeline-dates {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

/* Timeline blur effect for start and end */
/* --------------------------------------- */
.h--timeline-dates::after, .h--timeline-dates::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 50px;
}

.h--timeline-dates::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.h--timeline-dates::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

/* Timeline horizontal line */
/* --------------------------------------- */
.h--timeline-line {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 49px;
  height: 2px;
  background-color: #D3D3D3;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.h--timeline-filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00732E;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Bullet points */
/* --------------------------------------- */
.h--timeline-date {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.h--timeline-date:hover {
  font-weight: 600;
}

.h--timeline-date::after,
.h--timeline-date::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -8px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #00732E;
  background-color: #D3D3D3;
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date::before {
  bottom: -3px;
  height: 9px;
  width: 9px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  z-index: 2;
}

.h--timeline-date:hover::before,
.h--timeline-date:hover::after {
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date:hover::after {
  background-color: #D3D3D3;
  border-color: #00732E;
}

.h--timeline-date--selected {
  pointer-events: none;
}

.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #00732E;
}

.h--timeline-date--selected::before {
  background-color: #00732E;
}

.h--timeline-date--older-event::after {
  background-color: #00732E;
  border-color: #00732E;
}

/* Caroussel navigation */
/* --------------------------------------- */
.h--timeline-navigation {
  font-size: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #d3d3d3;
  transition: border-color 0.3s;
}

.h--timeline-navigation::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/timeline_nav.png') no-repeat 0 0;
}

.h--timeline-navigation:hover {
  border-color: #00732E;
}

.h--timeline-navigation--prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.h--timeline-navigation--next {
  right: 0;
}

.h--timeline-navigation--inactive {
  cursor: not-allowed;
}

.h--timeline-navigation--inactive::after {
  background-position: 0 -16px;
}

.h--timeline-navigation--inactive:hover {
  border-color: #f7f7f7;
}

/* Timeline events container */
/* --------------------------------------- */
.h--timeline-events {
  overflow: hidden;
  transition: height 0.4s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.h--timeline-event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 1rem;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 1px 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.h--timeline-event-content {
  max-width: 800px;
  margin: 2rem auto 0;
  padding: 2rem;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.h--timeline-event--selected {
  position: relative;
  top: 0;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* Timeline animations */
/* --------------------------------------- */
.h--timeline-event--enter-right, .h--timeline-event--leave-right {
  -webkit-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.h--timeline-event--enter-left, .h--timeline-event--leave-left {
  -webkit-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.h--timeline-event--leave-right, .h--timeline-event--leave-left {
  animation-direction: reverse;
}

.h--timeline-event-title {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
}

.h--timeline-event-date {
  display: block;
  font-style: italic;
  margin: 0.5rem auto;
  margin: 1rem auto;
}

.h--timeline-event-date::before {
  content: "- ";
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/* Overwrites */
/* Change the position of dates top / botom / top */
/* --------------------------------------- */
.h--timeline-date::after,
.h--timeline-date::before {
  background-color: #00732E;
}

.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #00732E;
}

.h--timeline-date--older-event::after {
  background-color: #00732E;
  border-color: #00732E;
}

.h--timeline-line li:nth-child(even) .h--timeline-date {
  bottom: -48px;
}

.h--timeline-line li .h--timeline-date--selected::after,
.h--timeline-line li .h--timeline-date:hover::after {
  width: 21px;
  height: 21px;
  bottom: -11px;
  background-color: #f7f7f7;
  border-color: #00732E;
}

.h--timeline-date:hover {
  color: #00732E !important;
}

.h--timeline-line li:nth-child(even) .h--timeline-date::after {
  bottom: 40px;
}

.h--timeline-line li:nth-child(even) .h--timeline-date:hover::after,
.h--timeline-line li:nth-child(even) .h--timeline-date--selected::after {
  bottom: 39px;
}

.h--timeline-line li:nth-child(even) .h--timeline-date::before {
  bottom: 45px;
}

.h--timeline-line li:nth-child(odd) .h--timeline-date:hover::before,
.h--timeline-line li:nth-child(odd) .h--timeline-date--selected::before {
  bottom: -5px;
}

/**/
