.slider {
  margin-bottom: 0px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  /*transform: scale(1.15);*/
  opacity: 1;
  background: #ffffff; /* fallback for old browsers */
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  /*box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);*/
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s;
}

.testi_slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  /*box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);*/
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s;
}

.slider-card img {
  /*border-radius: 5px 5px 0px 0px;*/
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}<gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"><gwmw style="display:none;"></gwmw><gwmw style="display:none;"></gwmw></gwmw></gwmw><gwmw style="display:none;"></gwmw></gwmw></gwmw></gwmw><gwmw style="display:none;">